
.marg{

margin-right: 320px !important;
}
.alignCard{
    height: 30em;
}
.imgheight{
    height: 12em;
}
.nSize{
 font-size: 23px;
}
li {
    align-items: center;
}

input {
    width: 30em !important;
}
@media screen and (max-width: 850px) {
        input {
            width: 20em !important;
        }
        .imgheight{
            height: 8em;
        }
        .marg{
            margin-left: 65px !important;
            }
        }