
.home{
    display: absolute;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
.alignCard{
    height: 30em;
}
.imgheight{
    height: 12em;
}
.nSize{
 font-size: 25px;
}
li {
    align-items: center;
}

.get-all {
    align-content: center !important;
}

input {
    width: 30em !important;
}